@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
    background: hsl(218, 23%, 16%);
}

* {
    font-family: 'Manrope', sans-serif;
}

#advice-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 28vw;
    background: hsl(217, 19%, 24%);
    padding: 20px;
    border-radius: 13px;
    min-height: 30vh;
}

.content {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 13px;
    font-weight: 700;
    color: hsl(150, 100%, 66%);
    word-spacing: 7px;
    letter-spacing: 3px;
}

h1,
#advice,
.divider-mobile,
.divider-desktop {
    text-align: center;
}

#advice {
    font-size: 28px;
    font-weight: 800;
    color: hsl(193, 38%, 86%);
    margin-bottom: 30px;
    transition: 2s ease;
}

#advice,
.divider-mobile,
.divider-desktop {
    width: 90%;
}

.divider-mobile {
    display: none;
}

.divider-desktop {
    margin-bottom: 30px;
}

.dice-container {
    position: absolute;
    bottom: -22px;
    background: hsl(150, 100%, 66%);
    border-radius: 50%;
    padding: 13px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dice-container:hover {
    box-shadow: -1px 0px 24px -1px rgba(82,255,168,1);
}


